/* admin panel start*/
/******************************************************* admin home page starts...**************************************************/
.main-div {
  height: 100%;
  width: 100%;
  background-color: #f1e1a6;
}

.left-part {
  width: 20%;
  padding: 30px;
  border-right: 2px solid #E8BE21;
  border-radius: 5px;
}

.left-part h2,
.right-part h1 {
  color: #E8BE21;
}

.left-part .item {
  margin: 10px;
}

.right-part {
  width: 80%;
  padding: 20px;
  border-radius: 5px;
}

#confirmLogoutOptionDiv{
  display: none;  
  border-radius: 10px;
  background-color:  #e0d08b;
  height: 170px;
  width: 270px;
  position: absolute;
  top: 72px;
  right:50px;
  margin: 0 auto;
  padding: 10px;
}

/********************************************** quizzes page starts ****************************************************/
.right-part h2 {
  padding: 8px;
  border-bottom: 2px solid grey;
}

.right-part .btn-primary {
  width: 250px;
  margin: 20px 20px 20px 670px;
}

.right-part .quiz-table,.user-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border:  black 2px solid;
}

thead >tr,th, 
tbody >tr,td{
  border:  black 2px solid;
  padding: 10px;
}

.fa-eye {
  color: blue;
}

.fa-pencil {
  color: green;
}

.fa-trash {
  color: red;
}

td>i {
  margin: 3px 0;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
}

*/

/********************************************************** add Question form start ******************************************/
.addQues {
  display: flex;
  flex-direction: column;
}

.form-popup {
  height: 100vh;
  width: 500px;
  display: none;
  position: absolute;
  bottom: 0;
  top: 10px;
  right: 150px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  width: 500px;
  padding: 10px;
  background-color: white;
}

.red-text {
  color: red;
}

.form-container {
  width: 500px;
}

.form-container input[type=text],
select {
  width: 450px;
  padding: 15px;
  font-size: large;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn-primary {
  background-color: #E8BE21;
  color: white;
  width: 30%;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.form-container .cancel {
  background-color: white;
  border: none;
  margin-right: 5px;
}

.form-container .btn-primary:hover,
.open-button:hover {
  opacity: 1;
}

.viewMcq {
  display: none;
  gap: 1rem;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0 auto;
  width: 80%;
  height: 250px;
  width: 500px;
  background-color: #e1b13a;
  border: 1px solid #ddd;
  position: relative;
  top: -990px;
}

/* userTable part */
#user-table a {
  cursor: pointer;
  color: blue;
}

.user-table {
  text-align: center;
}
 
#userTestDetailsMain{
  display: none;
}

table{
  border-collapse: collapse;
}

#testDetailsDiv{
  display: none;
  position: absolute;
  width: 700px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

#testDetailsDiv button,
.viewDiv button
{
  border: none;
  font-weight: 500;
  font-size: larger;
}

#testDetailsDiv a{
  color:blue;
  cursor: pointer;
}

.userHeading{
  margin: 20px;
}