/* admin panel start*/
/******************************************************* admin home page starts...**************************************************/
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-div {
  background-color: #f1e1a6;
  overflow: auto;
  min-height: 100vh;
}

button{
  cursor: pointer;
}

.left-part {
  width: 20%;
  padding: 30px;
  border-right: 2px solid #E8BE21;
  border-radius: 5px;
}

.left-part h2,
.right-part h1 {
  color: black;
}

#menu a {
  color: black;
  text-decoration: none;
}

#menu a.active {
  color: blue;
}


.left-part .item {
  margin: 10px;
}

.right-part {
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  overflow-x: hidden;
}

#confirmLogoutOptionDiv {
  display: none;
  border-radius: 10px;
  background-color: #e0d08b;
  height: 170px;
  width: 270px;
  position: absolute;
  top: 72px;
  right: 50px;
  margin: 0 auto;
  padding: 10px;
}

/* hamburger menu */

.burger-activate .left-part {
  display: none;
}

.burger-activate .right-part {
  width: 100%;
}


.burger-deactivate .left-part {
  display: block;
}

.burger-deactivate .right-part {
  width: 70%;
}

.logo {
  gap: 4rem;
}

.burger-menu i{
  cursor: pointer;
  font-size: large;
}

/********************************************** quizzes page starts ****************************************************/
.right-part h2 {
  padding: 8px;
  border-bottom: 2px solid grey;
}

.right-part .btn-primary {
  width: 250px;
  margin: 20px 20px 20px 600px;
}

.right-part .quiz-table,
.user-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: black 2px solid;
}

thead>tr,
th,
tbody>tr,
td {
  border: black 2px solid;
  padding: 5px;
}

.fa-eye {
  color: blue;
}

.fa-pencil {
  color: green;
}

.fa-trash {
  color: red;
}

td>i {
  margin: 3px 0;
  padding: 0px 10px 0px 10px;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
}

.icon-disabled {
  pointer-events: none;
  opacity: 0.5;
}

/********************************************************** add Question form start ******************************************/
.addQues {
  display: flex;
  flex-direction: column;
}

.form-popup {
  /* height: 100vh; */
  width: 500px;
  display: none;
  position: absolute;
  bottom: 0;
  top: 15px;
  right: 150px;
  border: 3px solid #f1f1f1;
  z-index: 1;
}

.form-container {
  width: 500px;
  gap:1rem;
  padding: 15px;
  background-color: white;
}

.red-text {
  color: red;
}

.form-container input[type=text],
select {
  width: 450px;
  padding: 15px;
  font-size: large;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn-primary {
  background-color: #E8BE21;
  color: white;
  width: 30%;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.form-container .cancel {
  background-color: white;
  border: none;
  margin-right: 5px;
}

.form-container .btn-primary:hover,
.open-button:hover {
  opacity: 1;
}

.viewMcq {
  display: none;
  gap: 1rem;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0 auto;
  width: 90%;
  height: 250px;
  width: 500px;
  background-color: #ffe8ad;
  /* border: 1px solid #ddd; */
  position: relative;
  top: -650px;
}

.viewMcq button {
  border: none;
  background-color: #ffe8ad;
  font-weight: 500;
  font-size: larger;
}

.viewMcq p,ul{
  margin: 5px;
}

/* userTable part */
.blur {
  filter: blur(5px);
  transition: filter 0.1s;
  pointer-events: none; 
}

#user-table a {
  cursor: pointer;
  color: blue;
}

.user-table {
  text-align: center;
}

.userHeading {
  margin: 20px;
}

table {
  border-collapse: collapse;
}

/* user history part */
#testDetailsDiv,
#testDetails {
  width: 500px;
  height: auto;
  padding: 30px;
  position: absolute;
  top: 100px;
  margin: 0 auto;
  background-color: #ffe8ad;
  border-radius: 10px;
}

#testDetailsDiv button,
#testDetails button {
  border: none;
  font-weight: 500;
  font-size: larger;
  background-color: #ffe8ad;
}

#testDetailsDiv a {
  color: blue;
  cursor: pointer;
}

/* user individual test part */
#testDetails {
  width:700px;
  top: 100px;
  background-color:antiquewhite;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#testDetails button {
  background-color: #f1e1a6;
  margin-right: 10px;
}

#testDetails>.userHeading{
  padding: 5px;
  background-color: #f1e1a6;
  width: 100%;
}

#testDetails #userNameHeading{
margin-bottom: 10px;
}

.question-detail {
  margin-bottom: 20px; 
  padding-bottom: 10px;
}

.question-detail h4{
  margin-bottom: 5px;
}

.options-list {
  list-style-type:disc; 
  margin-left: 20px;
  padding-left: 10px;
}

.options-list li {
  margin-bottom: 10px; 
}

@media (max-width: 768px) {
  #testDetails {
    width: 90%;
    padding: 20px;
  }
  #testDetailsDiv {
    width: 90%;
    padding: 20px;
  }
}
